.popper {
    width: auto;
    background-color: #fafafa;
    color: #212121;
    text-align: center;
    padding: 2px;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ebebeb;
    z-index: 200000;
    box-shadow: 0 0 6px 0 #3a3a3a
}

.popper .popper__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px
}

.popper[x-placement^=top] {
    margin-bottom: 5px
}

.popper[x-placement^=top] .popper__arrow {
    border-width: 5px 5px 0 5px;
    border-color: #fafafa transparent transparent transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0
}

.popper[x-placement^=bottom] {
    margin-top: 5px
}

.popper[x-placement^=bottom] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fafafa transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0
}

.popper[x-placement^=right] {
    margin-left: 5px
}

.popper[x-placement^=right] .popper__arrow {
    border-width: 5px 5px 5px 0;
    border-color: transparent #fafafa transparent transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0
}

.popper[x-placement^=left] {
    margin-right: 5px
}

.popper[x-placement^=left] .popper__arrow {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fafafa;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0
}

code[class*=language-],
pre[class*=language-] {
    color: #000;
    background: none;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    hyphens: none
}

code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc
}

code[class*=language-]::selection,
code[class*=language-] ::selection,
pre[class*=language-]::selection,
pre[class*=language-] ::selection {
    text-shadow: none;
    background: #b3d4fc
}

@media print {

    code[class*=language-],
    pre[class*=language-] {
        text-shadow: none
    }
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #f5f2f0
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #708090
}

.token.punctuation {
    color: #999
}

.token.namespace {
    opacity: .7
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
    color: #905
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #690
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5)
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a
}

.token.class-name,
.token.function {
    color: #dd4a68
}

.token.important,
.token.regex,
.token.variable {
    color: #e90
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(../fonts/Inter-Thin.d52e5e38.woff2) format("woff2"), url(../fonts/Inter-Thin.b068b718.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(../fonts/Inter-ThinItalic.a9780071.woff2) format("woff2"), url(../fonts/Inter-ThinItalic.97bec988.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Inter-ExtraLight.b3b2ed6a.woff2) format("woff2"), url(../fonts/Inter-ExtraLight.dd19efda.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/Inter-ExtraLightItalic.079cd1e7.woff2) format("woff2"), url(../fonts/Inter-ExtraLightItalic.a6566ae6.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Inter-Light.780dd2ad.woff2) format("woff2"), url(../fonts/Inter-Light.5d3776eb.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Inter-LightItalic.df29c534.woff2) format("woff2"), url(../fonts/Inter-LightItalic.d0fa7cbc.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter-Regular.dc131113.woff2) format("woff2"), url(../fonts/Inter-Regular.3ac83020.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Inter-Italic.fd26ff23.woff2) format("woff2"), url(../fonts/Inter-Italic.f137a90d.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Inter-Medium.75db5319.woff2) format("woff2"), url(../fonts/Inter-Medium.c0638bea.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Inter-MediumItalic.f1e11535.woff2) format("woff2"), url(../fonts/Inter-MediumItalic.a1b58862.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Inter-SemiBold.007ad31a.woff2) format("woff2"), url(../fonts/Inter-SemiBold.66a68ffa.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Inter-SemiBoldItalic.3031b683.woff2) format("woff2"), url(../fonts/Inter-SemiBoldItalic.6cd13dbd.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Inter-Bold.444a7284.woff2) format("woff2"), url(../fonts/Inter-Bold.99a0d9a7.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Inter-BoldItalic.96284e2a.woff2) format("woff2"), url(../fonts/Inter-BoldItalic.3aa31f73.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/Inter-ExtraBold.37da9eec.woff2) format("woff2"), url(../fonts/Inter-ExtraBold.ab70688a.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/Inter-ExtraBoldItalic.fcc7d60e.woff2) format("woff2"), url(../fonts/Inter-ExtraBoldItalic.728a4c7d.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter-Black.661569af.woff2) format("woff2"), url(../fonts/Inter-Black.d0b121f3.woff) format("woff")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Inter-BlackItalic.a3cc36c8.woff2) format("woff2"), url(../fonts/Inter-BlackItalic.e3329b2b.woff) format("woff")
}

@font-face {
    font-family: Inter var;
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: "Regular";
    font-display: swap;
    src: url(../fonts/Inter-roman.var.66c6e408.woff2) format("woff2 supports variations(gvar)"), url(../fonts/Inter-roman.var.66c6e408.woff2) format("woff2-variations"), url(../fonts/Inter-roman.var.66c6e408.woff2) format("woff2")
}

@font-face {
    font-family: Inter var;
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: "Italic";
    font-display: swap;
    src: url(../fonts/Inter-italic.var.1f7ca638.woff2) format("woff2 supports variations(gvar)"), url(../fonts/Inter-italic.var.1f7ca638.woff2) format("woff2-variations"), url(../fonts/Inter-italic.var.1f7ca638.woff2) format("woff2")
}

@font-face {
    font-family: Inter var experimental;
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: swap;
    src: url(../fonts/Inter.var.8dd26c3d.woff2) format("woff2-variations"), url(../fonts/Inter.var.8dd26c3d.woff2) format("woff2")
}